@import "tailwindcss";

@theme {
  /* Definiendo la paleta corporativa del Grupo Cordillera */
  --color-cordillera-navy: #1e3a8a;     
  --color-cordillera-lightBg: #f4f7fc;  
  
  --font-size-2xs: 0.75rem;
  --font-size-3xs: 0.7rem;
}